@import 'style/color/colors';
@import 'style/fonts/fonts';
@import 'measure/measure';
@import 'animation/hover';
@import 'animation/loders';
@import 'animation/slider';
@import 'animation/text';
@import 'components/buttons';
@import 'style/common/borders';
@import 'style/common/blur';
@import 'style/common/cards';
@import 'style/common/shadow';
@import 'style/common/commonStyles';
@import 'partials/nav';
@import 'partials/footer';
@import 'page/index';
@import 'page/services';
@import 'page/achivements';
@import 'page/404';
@import 'page/popups';
@import 'page/responsive';