// colors
$white: #ffffff;
$grey: #1E1E1E;
$black: #000000;

$blue-50: #F0F8FF;
$blue-100: #DFF0FF;
$blue-200: #B8E2FF;
$blue-300: #79CAFF;
$blue-400: #32B0FE;
$blue-500: #0797F0;
$blue-600: #0077CD;
$blue-700: #005EA6;
$blue-800: #03528C;
$blue-900: #094371;
$blue-950: #062A4B;

$black-50:  #F4F5F7;
$black-100: #E4E7E9;
$black-200: #CCD1D5;
$black-300: #A8B0B8;
$black-400: #7D8893;
$black-500: #626D78;
$black-600: #545C66;
$black-700: #484E56;
$black-800: #40444A;
$black-900: #383B41;
$black-950: #101113;



















