header {
    position: relative;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    #left {
        p {
            max-width: 90%;
            font-size: 20px;
        }

    }

    #right {
        text-align: center;
        position: relative;

        #trustedBy {
            position: absolute;
            top: 35%;
            left: -6%;

            .blur {
                width: fit-content;
                height: auto;
                backdrop-filter: blur(10px);
                padding: 20px 40px;
                border-radius: 25px;

                p {
                    color: $white;
                    margin-bottom: 1rem;
                }

                tr {
                    display: flex;
                    align-items: center;
                }

                .row {
                    position: relative;

                    img {
                        width: 35px;
                    }

                    span {
                        background-color: $white;
                        width: 35px;
                        height: 35px;
                        color: $bg;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                    }
                }


            }
        }
    }

    .greenPatch {
        background-color: #adff2f;
        width: 15px;
        height: 50px;
        position: absolute;
        top: 30px;
        left: -3px;
        z-index: -1;
    }

    h2 {
        color: $white;
        font-size: 64px;
        margin-bottom: 24px;

        span {
            background: linear-gradient(92deg, #32B0FE 25.41%, #062A4B 153.25%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.6rem;
    }



    .heyThere {
        position: relative;
        align-items: center;
        justify-content: flex-start;
        padding-left: 15px;

        p {
            font-family: 'Kalam', cursive;
            font-size: 26px !important;
            margin: 0px 15px;
            line-height: 3rem;
        }

        div {
            position: relative;

            top: 0px;
            left: 0;
        }
    }

    .blurPatch {
        @include blurPatch();
        left: 27%;
        top: 46%;
    }

    .verticalBorders {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: space-around;
        z-index: -1;

        div {
            width: 1px;
            height: 780px;
            background: linear-gradient(rgb(3, 82, 140, 0.2), rgb(3, 82, 140, 0.0));
        }
    }

}

#clientLogo {
    width: 100vw;
    height: 100px;
    background-color: $grey;
    position: relative;
    z-index: 100;
}


header {
    .heroImg {
        position: relative;
        bottom: -25px;
    }
}


// Web Performance
.rightpatch {
    left: 74% !important;
    top: 78% !important;
    right: -6%;

    img {
        width: 100% !important;
    }

    p {
        color: $white;
    }

    span {
        color: $green;
    }

    .greenPatch {
        top: 3px;
        left: 89%;
        background-color: $blue-500;
        width: 1px;
        filter: blur(5px);
    }

}