header {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    #left,
    #right {
        width: 50%;
    }

    #right {
        text-align: right;
        position: relative;

        #trustedBy {
            position: absolute;
            top: 35%;
            left: 0;


            .blur {
                width: fit-content;
                height: auto;
                backdrop-filter: blur(10px);
                padding: 20px 40px;
                border-radius: 25px;

                // img {
                //     position: absolute;

                //     &:nth-child(1) {
                //         left: 0;
                //     }

                //     &:nth-child(2) {
                //         left: 35px;
                //     }

                //     &:nth-child(3) {
                //         left: 65px;
                //     }

                //     &:nth-child(4) {
                //         left: 95px;
                //     }

                //     &:nth-child(5) {
                //         left: 130px;
                //     }
                // }

                p {
                    color: $white;
                    margin-bottom: 1rem;
                }

                tr {
                    display: flex;
                    align-items: center;
                }

                .row {
                    position: relative;

                    span {
                        background-color: $white;
                        width: 40px;
                        height: 40px;
                        color: $bg;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }


            }

            .greenPatch {
                background-color: #adff2f;
                width: 15px;
                height: 50px;
                position: absolute;
                top: 30px;
                right: -5px;
                z-index: -1;
            }
        }
    }

    h2 {
        color: $white;
        font-size: 64px;
        margin-bottom: 24px;

        span {
            background: linear-gradient(92deg, #32B0FE 25.41%, #062A4B 153.25%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    p {
        font-size: 20px;
        line-height: 1.6rem;
    }



    .heyThere {
        position: relative;
        align-items: center;
        justify-content: flex-start;

        p {
            font-family: 'Kalam', cursive;
            font-size: 24px;
            margin: 0px 15px;
            line-height: 3rem;
        }

        div {
            position: relative;

            top: 0px;
            left: 0;
        }
    }

    .blurPatch {
        @include blurPatch();
        left: 40%;
        top: 40%;
    }
}

#clientLogo {
    width: 100vw;
    height: 100px;
    background-color: $grey;
    position: relative;
    z-index: 100;
}


header {
   .heroImg {
        position: relative;
        bottom: -25px;
    }
}