// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .container {
    max-width: 100% !important;
    width: 100% !important;
  }

  header {

    #left,
    #right {
      max-width: 100%;
    }

    #left {
      margin: 3rem auto;
      text-align: center;

      .heyThere img:first {
        margin-left: 6rem;
      }

      p {
        max-width: 100%;
        font-size: 16px;
      }

      h2 {
        font-size: 3rem;
        margin: 1rem auto;
      }

      .heyThere {
        justify-content: center;
        padding-left: 0px;
      }
    }

    .col-lg-6 {
      flex: 0 0 100%;
    }

    #right {
      .heroImg {
        width: 80vw;
      }

      .rightpatch {
        display: none;
      }
    }
  }


  #trustedBy {
    top: 72% !important;
    left: 20% !important;

    p {
      color: $white !important;
      // font-weight: bold;
      background-color: $green;
      border-radius: 12px;
      padding: 5px 10px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    .greenPatch {
      display: none;
    }
  }


}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {


  header #left {
    margin: 5rem auto;
    text-align: center;

    p {
      max-width: 100%;
    }

    .heyThere {
      justify-content: center;
    }
  }

  #trustedBy {
    top: 35%;
    left: -8%;
  }


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1400.98px) {
  header {

    #left,
    #right {
      max-width: 100%;
    }

    #left {
      margin: 5rem auto;
      text-align: center;

      p {
        max-width: 100%;
      }

      .heyThere {
        justify-content: center;
      }
    }

    .col-lg-6 {
      flex: 0 0 100%;
    }
  }

  #res {
    display: flex;
    justify-content: center;
    width: 100%;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  #navbarSupportedContent {
    padding-left: 3rem !important;
  }

  .heroImg {
    width: 95%;
  }
#left{
  display: flex;
  flex-direction: column;
}

  #left,
  #right {
    width: 50%;
  }
}


@media (max-width: 1000px) {
  .navbar-toggler {
    background-color: $black-800;
  }

  .nav-item {
    margin: 1rem 0px;
  }

  #navbarSupportedContent {
    padding: 5% 0% !important;

    li {
      padding-bottom: 25px;
      border-bottom: 1px solid $black-500;
      text-align: center;
    }
  }

  nav form {
    justify-content: center;
  }




}