// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .container {
    max-width: 100% !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  #navbarSupportedContent {
    padding-left: 3rem !important;
  }
}


@media (max-width: 1000px) {
  .navbar-toggler {
    background-color: $black-800;
  }

  .nav-item {
    margin: 1rem 0px;
  }

  #navbarSupportedContent {
    padding: 5% 0% !important;

    li {
      padding-bottom: 25px;
      border-bottom: 1px solid $black-500;
      text-align: center;
    }
  }

  nav form {
    justify-content: center;
  }




}