$border-1: 1px solid #626D78;

@mixin hoverBorder() {
    background: linear-gradient(#1e1e1e, #1e1e1e) padding-box,
        linear-gradient(160deg, rgba(255, 255, 255, 0.247), rgba(255, 255, 255, 0)) border-box;
    border-radius: 50em;
    border: 1px solid transparent;

}