nav {
    background-color: $grey;
    width: 100%;
    z-index: 2000;

    h1 {
        line-height: 0px;

        img {
            width: 60px;
        }
    }


    li {
        margin: 0px 1rem;
    }
    a,i{
        color: $black-500 !important;
    }

    form {  
        column-gap: 15px;

        a {
            padding: 1rem;
            border: $border-1;
            border-radius: 50%;
        }

        a:last-child {
            border: none;
        }

        button {
            border-radius: 25px !important;
            padding: 10px 16px !important;

            a {
                color: $white;
            }

            a:hover {
                color: $white !important;
                text-decoration: none;
            }
        }
    }
}

.navbar-toggler{
    border-color: $black-500;
    background-color: transparent;
  
}