@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(Helvetica-Bold.ttf) format('ttf');
  }




// $h1:;
// $h2:;
// $h3:;
// $h4:;
// $h5:;
// $h6:;
// $p:;


